/*CSS GENERAL*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none; 
}
li{
  list-style: none;
}
body{
  background-color: #FAFAFA;
}

/*----------------FONTS----------------*/
@font-face{
  font-family: 'Bebas';
  src:  url('../assets/fonts/BebasNeue-Regular.ttf');
}
@font-face{
  font-family: 'Roboto';
  src:  url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face{
  font-family: 'Dash';
  src:  url('../assets/fonts/Dash.otf');}
@font-face{
  font-family: 'Roboto2';
  src:  url('../assets/fonts/Roboto-Light.ttf');}
@font-face{
  font-family: 'Redwing';
  src:  url('../assets/fonts/Redwing-Medium.otf');}
@font-face{
  font-family: 'PlatNomor';
  src:  url('../assets/fonts/PlatNomor.otf');}
@font-face{
  font-family: 'MonoFont';
  src:  url('../assets/fonts/monofonto.otf');
}
/*----------------FIN FONTS----------------*/

/*=====================================================*/
/*-------------------PAGINA INICIO-----------------------*/
/*=====================================================*/

/*------------NAV------------------*/
.containerFixed{
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: violet;
}
.containerBack{
background-color: violet;
}
.logoTamanio{
  height: 60px;
  width: 125px;
}
.navFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.navFont{
  font-family: Bebas;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.navHoverTotal:hover {
  color: #01c4e7;
  text-decoration: line-through;
  text-decoration: none;
}
/*------------ FIN NAV------------------*/

/*------------VISTE DEL INICIO------------------*/
.inicioBack{
  background-color: black;
}
.imgWidth{
  width: 100% ;
}
.imgInicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.txtInicio{
  font-family: Dash;
  font-size: 80px;
  color: white;
}
.txtFlex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 100px;
}
.imgTamanio{
  width: 300px;
  height: 500px;
}
.rowwidth{
  width:100%;
}
.imgPadding{
  padding-left: 300px;
  padding-top: 20px;
}
.eventosTxt{
  font-family: Redwing;
  font-size: 60px;
}
.eventosTxt a{
  color: #9a27f7;
  text-decoration: overline;
}
.eventoFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.imgFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  align-items: stretch;
  padding-bottom: 120px;
}
.Img1{
  height: 400px;
  width: 300px;
  box-shadow: 1.5px 0.5px 8px black;
}
.waveInicio{
  color: violet;
  height: 150px; 
  overflow: hidden;
}
.waveInicioNegro{
  height: 150px; 
  overflow: hidden;
}
.paddingEvento2{
  padding:10px ;
  padding-top:50px ;
  padding-bottom:100px ;
}
.txtQuienes{
  font-family: Redwing;
  font-size: 60px;
  color: mediumvioletred;
}
.parrafoQuienes{
  font-family: Redwing;
  font-size: 30px;
  color: black;
}
.quienes_txt_Flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*------------ FIN VISTA DEL INICIO------------------*/
/*------------ FOOTER ------------------*/

.footerFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footerLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.redes{
  padding-left: ;
}

/*------------ FIN FOOTER ------------------*/

/*=====================================================*/
/*-------------------PAGINA MAPA-----------------------*/
/*=====================================================*/

/*------------NAV------------------*/

.containerFixed{
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: violet;
}
.containerBack{
background-color: violet;
}
}
.navFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.navFont{
  font-family: Bebas;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.navHoverTotal:hover {
  color: #01c4e7;
  text-decoration: line-through;
}
/*------------ FIN NAV------------------*/

/*------------ CONTENIDO ------------------*/
.txtTamanio{
  font-family: PlatNomor;
  font-size: 40px;
}
.txtFlexMapa{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top:20px;
  padding-bottom:20px;
}
.infoMapa{
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
}
.iconMap{
  font-size: 30px;
}
.titleInfo{
  font-family: Redwing;
  color: mediumvioletred;
}
.txtInfo{
  font-family: PlatNomor;
}

/*------------ FIN CONTENIDO ------------------*/
/*------------ FOOTER ------------------*/

.footerFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footerLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.paddingF{
  position: absolute;
  bottom: 0px;
}
/*------------ FIN FOOTER ------------------*/

/*=====================================================*/
/*-------------------PAGINA CARTA-----------------------*/
/*=====================================================*/

/*------------NAV------------------*/

.containerFixed{
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: violet;
}
.containerBack{
background-color: violet;
}

}
.navFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.navFont{
  font-family: Bebas;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.navHoverTotal:hover {
  color: #01c4e7;
  text-decoration: line-through;
}

/*------------ FIN NAV------------------*/

/*------------ CONTENIDO ------------------*/
.menu{
  width: 95%;
  height: 600px;
}
.flexCarta{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carta{

}
.txtTamanio{
  font-family: PlatNomor;
  font-size: 40px;
}
.paddingTxt{
  padding-left: 40px;
  padding-top:20px;
  padding-bottom:20px;
}
.reserva{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reservaTxt{
  padding-top:40px;
  padding-bottom:40px;
  font-family: Roboto2;
  font-size: 30px;
}
.menuzoom:hover{
  transition: 40s;
  transform: scale(1.1);
}
.menuTamanio{
  height: 650px;
  width: 120px;
}
.menuPadding{
  padding-left: 50px;
  padding-bottom: 50px;
}
.precioFlex{
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  
}
.menuPadding2{
  padding-top: 100px;
}
.menuFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}
.padingMenu{
  padding-top: 30px;
  padding-bottom: 30px;
}
.txt_menu_Flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Redwing;
  color: mediumvioletred;
}
/*------------ FIN CONTENIDO ------------------*/

/*------------ FOOTER ------------------*/

.footerFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footerLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.paddingevento{
  padding-bottom:165px;
}
.paddingF{
  position: absolute;
  bottom: 0px;
}

/*------------ FIN FOOTER ------------------*/

/*=====================================================*/
/*-------------------PAGINA CONTACTO-----------------------*/
/*=====================================================*/

/*------------NAV------------------*/
.containerFixed{
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: violet;
}
.containerBack{
background-color: violet;
}

}
.navFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.navFont{
  font-family: Bebas;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.navHoverTotal:hover {
  color: #01c4e7;
  text-decoration: line-through;
}
/*------------ FIN NAV------------------*/
/*------------ CONTENIDO ------------------*/
.formulario{
  padding-left: 150px;
  padding-bottom: 120px;
  padding-top: 130px;
  padding-right: 130px;
}
.fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    height: 150px;
    font-family: Redwing;
    font-size: 22px;
    color: black;
  }
.tituloFormulario{
  padding-left: 40px;
  padding-top:20px;
  padding-bottom:20px;
}
.txtTamanio{
  font-family: PlatNomor;
  font-size: 40px;
}
.botonPad{
  padding-top: 5px;
}
.boton_enviar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.enviarLetra{
  font-family: Redwing;
  font-size: 20px;
  padding: 5px;
}
.datosFormulario{
  font-family: Roboto2;
  font-size: 15px;
  
}
.txtForm{

  color: mediumvioletred;
}

/*------------ FIN CONTENIDO ------------------*/
/*------------ FOOTER ------------------*/

.footerFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footerLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.paddingevento{
  padding-bottom:165px;
}
.paddingF{
  position: absolute;
  bottom: 0px;
}
/*------------ FIN FOOTER ------------------*/

/*=====================================================*/
/*-------------------PAGINA EVENTO-----------------------*/
/*=====================================================*/

/*------------NAV------------------*/
.containerFixed{
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  background-color: violet;
}
.containerBack{
background-color: violet;
}

}
.navFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.navFont{
  font-family: Bebas;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.navHoverTotal:hover {
  color: #01c4e7;
  text-decoration: line-through;
}
/*------------ FIN NAV------------------*/
/*------------ CONTENIDO ------------------*/
.imagenEvento{
  height: 500px;
  width: 450px;
}
.eventoImgFlex{
 display: flex;
 flex-direction: row;
 justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
} 

.paddingEvento{
  padding-top: 120px;
  padding-left: 120px;
}
.titleEvento{
  font-family: Roboto;
  padding-left: 68px;
}
.listaEvento{
  font-family: Roboto2;
}
.subTitle{
  font-family: Roboto2;
}
}
.eventosTxt{
  font-family: Dash;
  font-size: 70px;
  padding: 5px;
}
.eventosTxt a{
  color: #9a27f7;
 
}
.eventoFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*------------ CONTENIDO ------------------*/

/*------------ FOOTER ------------------*/

.footerFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footerLista{
  padding-right: 15px;
  padding-left: 15px;
  margin: 10px;
  border-radius:5px;
  background-color: #6664ff;
  border:1px solid black;
  box-shadow: 0px 2px 1px black;
}
.paddingevento{
  padding-bottom:165px;
}
.paddingF{
  position: ;
  bottom: 0px;
}
/*------------ FIN FOOTER ------------------*/

/*=====================================================*/
/*-------------------PAGINA 404-----------------------*/
/*=====================================================*/
.errorTxt{
  font-size: 50px;
  font-family: Redwing;
  text-shadow: whitesmoke 1px 1px 1.1px;
}
.errorTxt a{
  color: darkviolet;
}
.errorDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 400px;
}
.bgError{
  background-color: black;
}
.errorP{
  color: white;
}
.errorParraf{
  font-size: 25px;
  font-family: Redwing;
  text-shadow: grey 1px 1px 1.1px;
}
.error--parrafo_Flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
}
/*==============================*/
.redes{
  padding-top: 10px;
}
.ig {
  font-size: 30px;
}
.mail{
  font-size: 33px;
}
.redesFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 40px;
  padding-bottom: 10px;

}

.fixedRedes{
  position: absolute;
  bottom: 65px;
}
.derechos{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.txtCopy{
  font-family: PlatNomor;
  font-size: 20px;
}
.redesFlex a{
  color: black;
}
.redesFlex a:hover{
  color: #6664ff;
  text-decoration: overline;
}
/*mapget*/
@media only screen and (min-width: 1024px) {
  .presentacion .h1 {
    font-size: 55px; }
  .presentacion .h3 {
    font-size: 35px; }
  .presentacion .p {
    font-size: 18px; } }

.col-1 {
  width: 10%; }

.col-2 {
  width: 20%; }

.col-3 {
  width: 30%; }

.col-4 {
  width: 40%; }

.col-5 {
  width: 50%; }

.col-6 {
  width: 60%; }

.col-7 {
  width: 70%; }

.col-8 {
  width: 80%; }

.col-9 {
  width: 90%; }

.col-10 {
  width: 100%; }
  /*Media fixed copy footer*/
@media only screen and (min-width: 1024px) and (max-width:  2000px){
 .redesFooter{
 position: absolute;
 left: 750px;
}
}
@media only screen and (min-width: 1020px) and (max-width:  1530px){
.redesFooter{
 position: absolute;
 left: 500px;
}
@media only screen and (min-width: 1027px) and (max-width:  1300px){
.redesFooter{
 position: absolute;
 left: 300px;
}
}


