<!doctype html>
<html lang="en">
  <head>
  	<meta name="description" content="Mira el menú y las ofertas que tenemos para vos!!.">
		<meta name="keywords" content="BAR Bares Venado Tuerto Cervecerias ">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../css/estilo.css">
	<title>Carta - After Bar</title>
  </head>
  <body>
	<!--NAV --> 
	<div class="container-fluid containerFixed">
		<div class="row containerFixed">
			<div class="col-lg-12 col-xs-12">
			    <nav class="navbar navbar-expand-lg navbar-light containerBack">
			    	<div class="ContainerLogo">
			    		<div data-aos="fade-down">
					  		<a class="navbar-brand" href="../index.html"><img class="logoTamanio" src="../assets/img/hello_logo.png" alt="logo After Bar"></a>
					 		</div>
					 	</div>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>

					  <div class="collapse navbar-collapse navFlex " id="navbarNav">
					    <ul class="navbar-nav navFlex navPadding">
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont navHoverTotal" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont aFixed navHoverTotal" href="mapa.html">Mapa</a>
						      </li>
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont navHoverTotal" href="carta.html">Carta</a>
						      </li>
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont navHoverTotal" href="contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
						      </li>
					    </ul>
					  </div>
					</nav>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-xs-12">	
					<div data-aos="fade-right">	
						<div class="paddingTxt">
							<h1 class="txtTamanio">CARTA</h1>
						</div>
					</div>
			
					<!-- Menu Container -->
						<div class="w3-container w3-padding-64 w3-xxlarge" id="menu">
						  <div class="w3-content">

						    <h1 class="w3-center w3-jumbo txt_menu_Flex" style="margin-bottom:64px">MENÚ</h1>
						    <div class="w3-row w3-center">

						      <a href="javascript:void(0)" onclick="openMenu(event, 'Comida');" id="myLink">
						        <div class="w3-col s4 tablink w3-padding-large w3-hover-red txt_menu_Flex">Comida</div>
						      </a>			  
						      <a href="javascript:void(0)" onclick="openMenu(event, 'Bebida');">
						        <div class="w3-col s4 tablink w3-padding-large w3-hover-red txt_menu_Flex">Bebidas</div>
						      </a>

						    </div>

						    <div id="Comida" class="w3-container menu w3-padding-32 w3-white">
						      <h1><b>Pizza Muzarrela</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$300</span></h1>
						      <p class="w3-text-grey">Queso mozzarella </p>
						      <hr>
						   
						      <h1><b>Pizza Roquefort</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$400</span></h1>
						      <p class="w3-text-grey">Relleno queso roquefort</p>
						      <hr>
						      
						      <h1><b>Pizza Cuatro quesos</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$350</span></h1>
						      <p class="w3-text-grey">Cuatro quesos (mozzarella, parmesano, roquefort, fontina)</p>
						      <hr>

						      <h1><b>Papas con cheddar</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$250</span></h1>
						      <p class="w3-text-grey">Papas rusticas, cheddar y panceta</p>
						      <hr>  
						    </div>

						    <div id="Bebida" class="w3-container menu w3-padding-32 w3-white">
						      <h1><b>Cerveza Negra</b> <span class="w3-tag w3-grey w3-round"></span> <span class="w3-right w3-tag w3-dark-grey w3-round">$200</span></h1>
						      <p class="w3-text-grey">Malta, malta de chocolate, lúpulo cascade</p>
						      <hr>
						   
						      <h1><b>Cerveza Roja</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$200</span></h1>
						      <p class="w3-text-grey">100% malta de cebada, lúpulo y levadura</p>
						      <hr>
						      
						      <h1><b>Cerveza Rubia</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$200</span></h1>
						      <p class="w3-text-grey">Tres malta de cebada, lúpulo, levadura</p>
						      <hr>

						      <h1><b>Cerveza IPA</b> <span class="w3-right w3-tag w3-dark-grey w3-round">$250</span></h1>
						      <p class="w3-text-grey">Tres malta de cebada, lúpulo, levadura</p>
						    </div> 
						  </div>
						</div>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
	<div class="container-fluid containerFixed">
		<div class="row rowwidth">
			<div class="col-lg-12 col-xs-12">	
				<footer class="navbar navbar-expand-lg navbar-light containerBack">
				    	<div class="ContainerLogo">
						  	<a class="navbar-brand" href="../index.html"><img class="logoTamanio" src="../assets/img/hello_logo.png" alt="logo After Bar"></a>
							</div>
							<div class="redes redesFooter">
									<div class="redesFlex ">
										  <a target="_blank" href="https://www.instagram.com/404beer/?hl=es"><ion-icon class="ig" name="logo-instagram"></ion-icon></a>
											<a  href="views/contacto.html"><ion-icon class="mail"  name="mail-outline"></ion-icon></a>
									</div>
									<div class="derechos">
										<h3 class="txtCopy">© 2021 hello Bar. Copyright | Ivo Woinarowski</h3>	
									</div>
							</div>
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="navbar-toggler-icon"></span>
							  </button>
							 <div class="collapse navbar-collapse footerFlex" id="navbarNav">
								   <ul class="navbar-nav footerFlex navPadding">
									     <li class="nav-item footerLista">
									       <a class="nav-link.disabled navFont navHoverTotal" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
									     </li>
									     <li class="nav-item footerLista">
									       <a class="nav-link.disabled navFont aFixed navHoverTotal" href="mapa.html">Mapa</a>
									     </li>
									     <li class="nav-item footerLista">
									       <a class="nav-link.disabled navFont navHoverTotal" href="contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
									     </li>
								   </ul>
							 </div>
				</footer>
			</div>
		</div>
	</div>
	<!-- FIN DE FOOTER -->
	<!-- LINKEOS -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  		AOS.init();
		</script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<!-- FIN DE LINKEOS -->
		<script src="script.js"></script>
		<script>
			// Tabbed Menu
			function openMenu(evt, menuName) {
			  var i, x, tablinks;
			  x = document.getElementsByClassName("menu");
			  for (i = 0; i < x.length; i++) {
			     x[i].style.display = "none";
			  }
			  tablinks = document.getElementsByClassName("tablink");
			  for (i = 0; i < x.length; i++) {
			     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
			  }
			  document.getElementById(menuName).style.display = "block";
			  evt.currentTarget.firstElementChild.className += " w3-red";
			}
			document.getElementById("myLink").click();
			</script>
  </body>
</html>