<!doctype html>
<html lang="en">
  <head>
  	<meta name="description" content="Consultá sobre las mejores promociones que tenemos para ofrecerte.">
		<meta name="keywords" content="BAR Bares Venado Tuerto Cervecerias ">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../css/estilo.css">
	<title>Contacto - After Bar</title>
  </head>
  <body>
	<!--NAV --> 
	<div class="container-fluid containerFixed">
		<div class="row containerFixed">
			<div class="col-lg-12 col-xs-12">
		    <nav class="navbar navbar-expand-lg navbar-light containerBack">
		    	<div class="ContainerLogo">
		    		<div data-aos="fade-down">
				  		<a class="navbar-brand" href="../index.html"><img class="logoTamanio" src="../assets/img/hello_logo.png" alt="logo After Bar"></a>
				 		</div>
				 	</div>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
				  <div class="collapse navbar-collapse navFlex " id="navbarNav">
				    <ul class="navbar-nav navFlex navPadding">
					      <li class="nav-item navLista">
					        <a class="nav-link.disabled navFont navHoverTotal" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
					      </li>
					      <li class="nav-item navLista">
					        <a class="nav-link.disabled navFont aFixed navHoverTotal" href="mapa.html">Mapa</a>
					      </li>
					      <li class="nav-item navLista">
					        <a class="nav-link.disabled navFont navHoverTotal" href="carta.html">Carta</a>
					      </li>
					      <li class="nav-item navLista">
					        <a class="nav-link.disabled navFont navHoverTotal" href="contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
					      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>

		<div class="container-fluid ">
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<div data-aos="fade-right">
						<div class="tituloFormulario">
							<h1 class="txtTamanio">CONTACTO</h1>
						</div>
					</div>
						<div class="formulario">
							<form action="">
								<fieldset class="fieldset">

									<label for="name">Nombre</label>
									<input type="text" name="name" placeholder="Juan" class="datosFormulario">

									<label for="apellido">Apellido</label>
									<input type="texto" placeholder="Gutierrez" class="datosFormulario">

									<label for="mail">E-mail</label>
									<input type="mail" name="mail" placeholder="JuanGutierrez@after.com" class="datosFormulario">

									<label for="numero">Número de Telefono</label>
									<input type="numero" name="numero" placeholder="Teléfono" class="datosFormulario">
						
									<div class="boton_enviar botonPad">
										<input type="submit" value="Enviar" class="enviarLetra">
									</div>

								</fieldset>
							</form>
						</div>
				</div>
			</div>
		</div>
	<!-- FOOTER -->
	<div class="container-fluid containerFixed paddingF">
		<div class="row rowwidth">
			<div class="col-lg-12 col-xs-12">	
				<footer class="navbar navbar-expand-lg navbar-light containerBack">
				    	<div class="ContainerLogo">
						  		<a class="navbar-brand" href="../index.html"><img class="logoTamanio" src="../assets/img/hello_logo.png" alt="logo After Bar"></a>
							</div>
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="navbar-toggler-icon"></span>
							  </button>
						  <div class="collapse navbar-collapse footerFlex" id="navbarNav">
							    <ul class="navbar-nav footerFlex navPadding">
								      <li class="nav-item footerLista">
								        <a class="nav-link.disabled navFont navHoverTotal" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
								      </li>
								      <li class="nav-item footerLista">
								        <a class="nav-link.disabled navFont aFixed navHoverTotal" href="mapa.html">Mapa</a>
								      </li>
								      <li class="nav-item footerLista">
								        <a class="nav-link.disabled navFont navHoverTotal" href="contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
								      </li>
							    </ul>
						  </div>
				</footer>
					<div class="redes">
						<div class="redesFlex ">
							  <a target="_blank" href="https://www.instagram.com/404beer/?hl=es"><ion-icon class="ig" name="logo-instagram"></ion-icon></a>
								<a  href="../views/contacto.html"><ion-icon class="mail"  name="mail-outline"></ion-icon></a>
						</div>
							<div class="derechos">
								<h3 class="txtCopy">© 2021 hello Bar. Copyright | Ivo Woinarowski</h3>	
							</div>
					</div>
			</div>
		</div>
	</div>
	<!-- FIN DE FOOTER -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- LINKEOS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  		AOS.init();
		</script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<!-- FIN DE LINKEOS -->
  </body>
</html>