<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404</title>

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="bgError">

	<div class="container">
	<div class="row">
	<div class="col-lg-12 col-xs-12">

	<div data-aos="zoom-in-down">
	<div class="errorDiv">
	<h2 class="errorTxt"><a href="../index.html">ERROR 404</a></h2>
	</div>
	</div>
	

	</div>
	</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
 	 AOS.init();
	</script>
</body>
</html>