<!doctype html>
<html lang="en">
  <head>
  	<meta name="description" content="Mira la ubicacion de nuestro local.">
		<meta name="keywords" content="BAR Bares Venado Tuerto Cervecerias ">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../css/estilo.css">
	<title>Mapa - After Bar</title>
  </head>
  <body>
	<!--NAV --> 
	<div class="container-fluid containerFixed">
		<div class="row containerFixed">
			<div class="col-lg-12 col-xs-12">
			    <nav class="navbar navbar-expand-lg navbar-light containerBack">
			    	<div class="ContainerLogo">
			    		<div data-aos="fade-down">
					  		<a class="navbar-brand" href="../index.html"><img class="logoTamanio" src="../assets/img/hello_logo.png" alt="logo After Bar"></a>
					 		</div>
					 	</div>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse navFlex " id="navbarNav">
					    <ul class="navbar-nav navFlex navPadding">
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont navHoverTotal" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont aFixed navHoverTotal" href="mapa.html">Mapa</a>
						      </li>
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont navHoverTotal" href="carta.html">Carta</a>
						      </li>
						      <li class="nav-item navLista">
						        <a class="nav-link.disabled navFont navHoverTotal" href="contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
						      </li>
					    </ul>
					  </div>
					</nav>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-xs-12">
					<div data-aos="fade-right">
						<div class="txtFlexMapa">
							<h1 class="txtTamanio">MAPA</h1>
						</div>
					</div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207.34611453675456!2d-61.9777669691352!3d-33.74676520192248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c864a90ca2e3e9%3A0x8c230c0f16dff19b!2sL%C3%B3pez%20%26%20Francia%2C%20Venado%20Tuerto%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1626127869253!5m2!1ses!2sar" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy">
							</iframe>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
	<div class="container-fluid containerFixed paddingF">
		<div class="row rowwidth">
			<div class="col-lg-12 col-xs-12">	
				<footer class="navbar navbar-expand-lg navbar-light containerBack">
				    	<div class="ContainerLogo">
						  		<a class="navbar-brand" href="../index.html"><img class="logoTamanio" src="../assets/img/hello_logo.png" alt="logo After Bar"></a>
							</div>
							<div class="redes">
									<div class="redesFlex ">
										  <a target="_blank" href="https://www.instagram.com/404beer/?hl=es"><ion-icon class="ig" name="logo-instagram"></ion-icon></a>
											<a  href="views/contacto.html"><ion-icon class="mail"  name="mail-outline"></ion-icon></a>
									</div>
									<div class="derechos">
										<h3 class="txtCopy">© 2021 hello Bar. Copyright | Ivo Woinarowski</h3>	
									</div>
								</div>
							  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="navbar-toggler-icon"></span>
							  </button>
						  <div class="collapse navbar-collapse footerFlex" id="navbarNav">
							    <ul class="navbar-nav footerFlex navPadding">
								      <li class="nav-item footerLista">
								        <a class="nav-link.disabled navFont navHoverTotal" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
								      </li>
								      <li class="nav-item footerLista">
								        <a class="nav-link.disabled navFont aFixed navHoverTotal" href="mapa.html">Mapa</a>
								      </li>

								      <li class="nav-item footerLista">
								        <a class="nav-link.disabled navFont navHoverTotal" href="contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
								      </li>
							    </ul>
						  </div>
					</footer>
			</div>
		</div>
	</div>
	<!-- FIN DE FOOTER -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- LINKEOS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  		AOS.init();
		</script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<!-- FIN DE LINKEOS -->
  </body>
</html>